# Parking Demand Prediction Analysis

**Question:**
Proper parking lot demand prediction in a housing complex when designing rental houses by type

## Get Jupyter ready

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.expand_frame_repr', False)

## Read Data

In [16]:
# import data
train=pd.read_csv('data/235745_parking_data/train.csv')
test=pd.read_csv('data/235745_parking_data/test.csv')

# bind row
df = train.append(test)

# dimensions
print(train.shape,test.shape,df.shape)

df.head()

(2952, 15) (1022, 14) (3974, 15)

    단지코드  총세대수 임대건물구분    지역  공급유형   전용면적  전용면적별세대수   공가수 자격유형     임대보증금     임대료  도보 10분거리 내 지하철역 수(환승노선 수 반영)  도보 10분거리 내 버스정류장 수  단지내주차면수   등록차량수
0  C2483   900    아파트  경상북도  국민임대  39.72       134  38.0    A  15667000  103680                           0.0                 3.0   1425.0  1015.0
1  C2483   900    아파트  경상북도  국민임대  39.72        15  38.0    A  15667000  103680                           0.0                 3.0   1425.0  1015.0
2  C2483   900    아파트  경상북도  국민임대  51.93       385  38.0    A  27304000  184330                           0.0                 3.0   1425.0  1015.0
3  C2483   900    아파트  경상북도  국민임대  51.93        15  38.0    A  27304000  184330                           0.0                 3.0   1425.0  1015.0
4  C2483   900    아파트  경상북도  국민임대  51.93        41  38.0    A  27304000  184330                           0.0                 3.0   1425.0  1015.0

In [18]:
# information of data
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3974 entries, 0 to 1021
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          3974 non-null   object
 1   총세대수                          3974 non-null   int64
 2   임대건물구분                        3974 non-null   object
 3   지역                            3974 non-null   object
 4   공급유형                          3974 non-null   object
 5   전용면적                          3974 non-null   float64
 6   전용면적별세대수                      3974 non-null   int64
 7   공가수                           3974 non-null   float64
 8   자격유형                          3972 non-null   object
 9   임대보증금                         3225 non-null   object
 10  임대료                           3225 non-null   object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  3721 non-null   float64
 12  도보 10분거리 내 버스정류장 수            3970 non-null   float64
 13  단지내주차면수                       3974 non-null   float64
 14  등록차량수                         2952 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 496.8+ KB

## Missing values

In [51]:
df.iloc[:,:-1].isnull().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              2
임대보증금                           749
임대료                             749
도보 10분거리 내 지하철역 수(환승노선 수 반영)    253
도보 10분거리 내 버스정류장 수                4
단지내주차면수                           0
dtype: int64